.gameTittle{
    display: flex;
    justify-content: center;
    background-color: lavender;
}

.masterDiv{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(187, 187, 238);
}

.container{
    /* Maybe add a image instead of color */
    background-color: aquamarine;
    border-radius: 20px;
    padding: 60px 120px;
    /* add a shadow box effect? */
}

.resultImg{
    display: flex;
    column-gap: 100px;
}

.resultImg img{
    width: 100px;
}

.machineResult{
    transform: rotateY(180deg);
}